<div class="row">
  <div class="col-sm-8 offset-2 mb-4">
    <ng-container *ngFor="let post of postArray">
      <div class="card" >
        <div class="card-header">
          {{post.title}}
        </div>
        <div class="card-body">
          {{post.body}}
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-primary mr-4"
          [routerLink]="['/updatepost', post.id]"
          >Edit</button>
          <button class="btn btn-danger">Delete</button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="postArray.length===0 && !errMsg">
      <p class="alert alert-info">
        There is no post available...!!!
      </p>
    </ng-container>
    <ng-container *ngIf="errMsg">
      <p class="alert alert-danger">
        {{errMsg}}
      </p>
    </ng-container>
  </div>
</div>
