<div class="row">
  <div class="col-md-8 offset-md-2">
    <form [formGroup]="postForm" (submit)="createPost()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" formControlName="title" id="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="post">Body</label>
        <textarea type="text" formControlName="body" rows="3" id="post" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button  class="btn btn-primary" type="submit" [disabled]="postForm.invalid">
          Create Post
        </button>
      </div>
    </form>
